@model FaceAuth.Models.UserViewModel
@{
    var Title = "Lista de Usuários";
    var list = Model.Users;
}

<h2>@Title</h2>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in list)
        {
            <tr>
                <td>
                    @if (user.Pictures != null && user.Pictures.Any())
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(user.Pictures.First().Picture)"
                             alt="Foto de @user.Name" class="img-thumbnail" style="width: 50px; height: 50px;" />
                    }
                    else
                    {
                        <span>Sem Foto</span>
                    }
                </td>
                <td>@user.Name</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
